*.log
.cache
node_modules
*.map

.vscode/
.dccache
.DS_Store
err
out
contenttype-data.js
create-resolvers.js
create-schema-customization.js
download-assets.js
entry-data.js
fetch.js
gatsby-node.js
gatsby-plugin-image.js
image-helper.js
live-preview/index.js
node-helper.js
normalize.js
plugin-init.js
plugin-options-schema.js
pre-bootstrap.js
source-node.js
plugin-init.js
plugin-options-schema.js
pre-bootstrap.js
source-node.js
src/entry-data.js
utils.js